@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #7070db;
    background-color: rgba(0, 0, 0, 0.116);
    padding: 2%;
}

h1:hover {
    transform: skewX(1.1);
}
.welcome-travel{
    position: sticky;
    background: rgba(220, 242, 245, 0.555);
}

.travel-img {
    width: 100% ;
    position: absolute;
    z-index: -1;
}
.form-bg{
    background: #1f291bd5;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }
    
}